<div class="about-us-container">

  <nav class="navbar">
    <button class="nav-button">Sobre Nosotros</button>
    <a routerLink="/"><img src="/Logo.png" alt="Logo" class="logo"></a>
    <button routerLink="/services" class="nav-button">Servicios</button>
  </nav>


  <section class="about-section">
    <h1 class="title">SOBRE <span class="highlight">NOSOTROS</span></h1>
    <p class="description">
      Te ofrecemos todo en personalización con DTF, Stickers, sublimación, arreglos,
      detalles personalizados y mucho más.
    </p>
    <div class="location">
      <img src="/Location.png" alt="Ubicación" class="location-icon">
      <p class="location-text">Instalaciones de útiles la <span class="highlight">Providencia BO. El Centro</span></p>
    </div>
    <div class="contact">
      <div>
        <img src="/QR.png" alt="QR Code" class="qr-code">
        <p class="qr-p">Nuestro WhatsApp</p>
      </div>
      <div></div>
      <div class="contact-info">
        <p><img src="/MdiPhone.png" alt="Teléfono" class="icon"> +504 93686368</p>
        <p><img src="/MdiFacebook.png" alt="Facebook" class="icon"> JAZBA</p>
        <p><img src="/LetsIconsInsta.png" alt="Instagram" class="icon"> &#64;JAZBA9516</p>
      </div>
    </div>
  </section>
</div>
