.about-us-container {
  font-family: 'Arial', sans-serif;
  background-color: #ffe9f3;
  color: #5d1741;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fdd2e3;
}

.nav-button {
  background-color: #ff7dbb;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  background-color: #ff5ca1;
}

.logo {
  height: 100px;
}

.about-section {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.highlight {
  background-color: #ff7dbb;
  color: white;
  padding: 0 5px;
}

.description {
  margin: 20px 0;
  font-size: 18px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.location-icon {
  width: 24px;
  margin-right: 10px;
}

.location-text {
  font-size: 18px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.qr-code {
  width: 100px;
  margin-right: 20px;
}

.qr-p{
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contact-info {
  text-align: left;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  margin-right: 10px;
}

